<%- include("partials/header") %>
<h1>Compose</h1>
<div class="container">
  <form action="/compose" method="POST">
        <div class="form-group">
            <label for="inputTitle">Title</label>
            <input class="form-control" type="text" name="inputTitle" autofocus />
            <label for="inputContent">Post</label>
            <textarea class="form-control" name="inputContent" cols="80" rows="10"></textarea>
        </div>
    <button class="btn btn-primary mt-2 btn-publish" type="submit" name="post">Publish</button>
  </form>
</div>
<%- include("partials/footer") %>